{% extends "nav.html" %}

{% block title %}Home Alerts{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home_alerts.css') }}">
{% endblock %}

{% block content %}

<div class="alert-container">
    <div class="alert-item">
        <div class="alert-info"><span class="alert-icon red"></span> Possible fire detected</div>
        <div class="alert-time">12:30 PM</div>
    </div>
    <div class="alert-item">
        <div class="alert-info"><span class="alert-icon yellow"></span> Possible intrusion</div>
        <div class="alert-time">12:25 PM</div>
    </div>
    <div class="alert-item">
        <div class="alert-info"><span class="alert-icon green"></span> Door opened for &lt;name&gt;</div>
        <div class="alert-time">12:15 PM</div>
    </div>
    <div class="alert-item">
        <div class="alert-info"><span class="alert-icon yellow"></span> Too many consecutive incorrect attempts for fingerprint</div>
        <div class="alert-time">12:10 PM</div>
    </div>
    <div class="alert-item">
        <div class="alert-info"><span class="alert-icon yellow"></span> Possible Camera_1 obstruction</div>
        <div class="alert-time">12:05 PM</div>
    </div>
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home_alerts.js') }}"></script>
{% endblock %}

{% endblock %}
