<!-- templates/livefeed.html -->
{% extends "nav.html" %}
{% block title %}Live Feed{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/livefeed.css') }}">
{% endblock %}
{% block content %}

<div class="feed-container">
    <div class="feed-box">
        <h3>Camera Feed</h3>
        <!-- Embed the live video stream -->
        <div class="camera-box">
            <img id="video-stream" src="{{ url_for('live_feed_bp.video_feed') }}" alt="Live Camera Feed" width="100%">
            <!-- <img id="video-stream" src="http://192.168.68.114:81/stream" alt="Live Camera Feed" width="100%"> -->
        </div>

    </div>
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/livefeed.js') }}"></script>
{% endblock %}

{% endblock %}
