{% extends "nav.html" %}
{% block title %}Upload Faces{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/upload.css') }}">
{% endblock %}

{% block content %}

<div class="upload-container">
    <h1>UPLOAD NEW FACE</h1>
    <div class="upload-box">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" class="form-control" placeholder="Enter name" required>
            <!-- Role Dropdown -->
            <div class="select-wrapper">
                <select name="role" class="form-control" id="roleSelect">
                    <option value="family">Family</option>
                    <option value="guest">Guest</option>
                </select>
            </div>
            <!-- Guest Fields -->
            <div id="guestFields" style="display: none; margin-top: 10px;">
                <label style="text-align: left; width: 100%;">Start Time</label>
                <input type="datetime-local" name="start_time" class="form-control">

                <label style="text-align: left; width: 100%;">Expiry Time</label>
                <input type="datetime-local" name="expiry_time" class="form-control">
            </div>

            <input type="file" name="image" class="form-control" accept="image/*" required>
            <button type="submit" class="btn btn-primary w-100">Upload</button>
        </form>
    </div>
</div>

<div class="known-faces">
    {% for face in faces %}
    <div class="face-item">
        <img src="{{ face.url }}" alt="Known Face">
        <span>{{ face.name }}</span>
        <small>{{ face.role | capitalize }}</small>
        {% if face.role == 'guest' %}
            <small>From: {{ face.start_time }}</small>
            <small>Until: {{ face.expiry_time }}</small>
        {% endif %}
        <button class="remove-btn" onclick="removeFace('{{ face.url }}')">Remove</button>
    </div>
    {% endfor %}
</div>

{% block scripts %}
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

{% endblock %}

